# Some important Series Methods

In [1]:
import numpy as np 
import pandas as pd

In [4]:
subs= pd.read_csv('subs.csv',squeeze=True)
subs

C:\Users\trush\AppData\Local\Temp\ipykernel_15092\2920721210.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs= pd.read_csv('subs.csv',squeeze=True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [3]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [6]:
movies = pd.read_csv('bollywood.csv',index_col = 'movie',squeeze=True)
movies

C:\Users\trush\AppData\Local\Temp\ipykernel_15092\1913320656.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  movies = pd.read_csv('bollywood.csv',index_col = 'movie',squeeze=True)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [8]:
vk = pd.read_csv('kohli_ipl.csv',index_col='match_no',squeeze=True)
vk

C:\Users\trush\AppData\Local\Temp\ipykernel_15092\1412151714.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('kohli_ipl.csv',index_col='match_no',squeeze=True)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [9]:
#astype(change the type of data )
import sys
sys.getsizeof(vk)

3456

In [10]:
sys.getsizeof(vk.astype('int16'))

2166

In [11]:
# between
vk[vk.between(51,99)].size

43

In [13]:
vk[vk.between(51,99)] #return runs between 51 to 99

match_no
34     58
41     71
44     56
45     67
52     70
57     57
68     73
71     51
73     58
74     65
80     57
81     93
82     99
85     56
97     67
99     73
103    51
104    62
110    82
116    75
117    79
119    80
122    52
127    75
129    54
131    54
132    62
134    64
137    55
141    58
144    57
145    92
148    68
152    70
160    84
162    67
175    72
178    90
188    72
197    51
198    53
209    58
213    73
Name: runs, dtype: int64

In [14]:
#clip :- clip the values
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [15]:
subs.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [18]:
#drop_duplicates :- delete duplicate
temp = pd.Series([1,1,1,2,2,3,3,4,4])
temp

0    1
1    1
2    1
3    2
4    2
5    3
6    3
7    4
8    4
dtype: int64

In [19]:
temp.drop_duplicates()

0    1
3    2
5    3
7    4
dtype: int64

In [20]:
temp.drop_duplicates(keep='last')

2    1
4    2
6    3
8    4
dtype: int64

In [23]:
temp.duplicated().sum()

5

In [24]:
 #isnull :- use for kitni missing values hai
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [25]:
temp.count() #not count null values

7

In [26]:
temp.size #count null values

10

In [27]:
temp.isnull().sum()

3

In [28]:
#dropna :- it drop the missing values
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [29]:
#fillna :- (it replace the missing value)
temp.fillna(11)

0     1.0
1     2.0
2     3.0
3    11.0
4     5.0
5     6.0
6    11.0
7     8.0
8    11.0
9    10.0
dtype: float64

In [30]:
#isin
vk[(vk==49) | (vk==99)]

match_no
82    99
86    49
Name: runs, dtype: int64

In [31]:
vk[vk.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

In [33]:
#apply :- help to use custom logic
movies.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [34]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [35]:
subs.apply(lambda x:'Good Day' if x>subs.mean() else "Bad Day")

0       Bad Day
1       Bad Day
2       Bad Day
3       Bad Day
4       Bad Day
         ...
360    Good Day
361    Good Day
362    Good Day
363    Good Day
364    Good Day
Name: Subscribers gained, Length: 365, dtype: object

In [56]:
#copy 
vk

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [57]:
new= vk.head()
new

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [58]:
vk.head()

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [59]:
new = vk.head().copy()

In [60]:
new[1] = 1

In [61]:
new

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [62]:
vk

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [63]:
new

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [64]:
vk

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64